body {
  margin: 0;
  background: rgb(246, 218, 223);
  color: #1f2937;
  font-family: Arial, sans-serif;
}

.site {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 70px;
}

.logo {
  color: #273c75;
  font-size: 30px;
}

.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links a {
  color: #273c75;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  align-items: center;
  gap: 50px;
  padding: 70px;
}

.intro {
  color: #8e44ad;
  font-size: 24px;
  font-weight: bold;
}

.hero h1 {
  font-size: 72px;
  line-height: 1;
  color: #273c75;
  margin: 10px 0 24px;
}

.subtitle {
  font-size: 24px;
  line-height: 1.5;
  max-width: 700px;
}

.primary-btn {
  display: inline-block;
  margin-top: 30px;
  background: #8e44ad;
  color: white;
  padding: 16px 28px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: bold;
}

.hero-card {
  background: #dff3ff;
  border-radius: 40px;
  padding: 35px;
  text-align: center;
  box-shadow: 0 14px 35px rgba(0, 0, 0, 0.12);
  transform: rotate(3deg);
}

.profile-placeholder {
  width: 260px;
  height: 260px;
  border-radius: 35px;
  background: #273c75;
  color: white;
  display: grid;
  place-items: center;
  font-size: 72px;
  font-weight: bold;
  margin: 0 auto 20px;
}

.section {
  margin: 40px 70px;
  padding: 50px;
  background: white;
  border-radius: 35px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.07);
}

.section h2 {
  color: #273c75;
  font-size: 42px;
  margin-top: 0;
}

.section p {
  font-size: 20px;
  line-height: 1.6;
}

.about-section {
  background: #fff7d6;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.project-card {
  background: #eaf7ff;
  border-radius: 25px;
  padding: 28px;
}

.project-card h3 {
  color: #8e44ad;
  font-size: 24px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.skills span {
  background: #273c75;
  color: white;
  padding: 13px 22px;
  border-radius: 999px;
  font-weight: bold;
}

.contact-section {
  background: #e9ddff;
}

.contact-section a {
  color: #273c75;
  font-weight: bold;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    padding: 24px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 35px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }

  .section {
    margin: 25px;
    padding: 30px;
  }
}